body{
    font-family:'Inter', sans-serif;
    background-color:white;
    color: black;
    line-height: 1.5;
    min-height: 100vh;
    overflow: hidden;
    margin:0;
    padding: 0;
    height: 100%;
}
.login-container{
    display:flex;
    height: 100vh;
    width: 100vw;
}
.login-card{
   width: 50%;
    height: 100vh;
    padding: 3rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: black;
   border-radius: 0.5rem;
   
}
.login-header{
    margin-bottom: 2rem;
}
.login-header h1{
    font-size: 1.85rem;
    font-weight: 600;
    margin-bottom: 0.75;
    color: black;

}
.login-form{
    display: flex;
    flex-direction: column;
    gap:1.25rem;
}
.signup-form{
    display: flex;
    flex-direction: column;
    gap:1.25rem;
}

.login-header p {
    color:darkslategray;
    font-size: 1rem;
}
.input-group{
    display: flex;
    flex-direction: column;
    gap:0.35rem;

}
.input-group label{
    font-size: 0.85rem;
    font-weight: 500;
    color: darkslategray;
}
.input-group input{
     padding: 0.625rem 0.85rem;
     border: 1px solid rgb(137, 190, 190);
     border-radius: 0.5rem;
     font-size: 1rem;
     font-family:inherit;
     color: black;
     background: white;
     box-shadow: rgb(29, 59, 59);
     transition: all 0.2s ease;

}
.login-image{
    width: 50%;
    height: 100vh;
}
.login-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    display: block;
}
.form-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -0.25rem;
}
.remember-me{
    display: flex;
    align-items: center;
    gap:0.5rem;

}
.remember-me input[type="checkbox"]
{
    width: 1rem;
    height: 1rem;
    border-radius: 0.25rem;
    border: 1px solid white;
    cursor: pointer;
    accent-color: black;
}
.remember-me label{
    font-size: 0.85rem;
    font-weight: 600;
    cursor: pointer;

}
.forgot-password{
    font-size: 0.85;
    font-weight: 600;
    color: black;
    text-decoration: none;
}
.forgot-password:hover {
    color: rgb(78, 86, 160);
}
.btn-primary{
    background-color: rgb(78, 86, 160);
    color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.625rem 1.125rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    transition: all 0.2s ease;
    margin-top: 0.5rem;


}
.btn-primary:hover{
    background-color: rgb(35, 40, 88);
}
.match-size {
  width: 2000px;  
  height: auto;    
  object-fit: cover; 
}
.signin-card{
   width: 100%;
    height: 100vh;
    padding: 3rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: black;
   border-radius: 0.5rem;
   
}
